@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --primary: #0d6efd;
  --primary-hover: #3a8cff;
  --danger: #d32f2f;
  --light-danger: #fdeaea;
}

* {
  font-family: "Roboto", cursive;
}

.active {
  color: #000;
  font-weight: 600;
  background: #00000010;
}